<div class="courses-container">
  <div class="courses-header">
    <h2>Meus Cursos</h2>
    <span class="space"></span>

    <button mat-icon-button class="add-button"
              matTooltip="Adicionar novo curso."
              matTooltipPosition="above"
              matTooltipHideDelay="1000"
              (click)="cadastarCursoDialog()"
              >
              <mat-icon>add</mat-icon>
    </button>
</div>
  <mat-divider></mat-divider>
  <!-- Mostra mensagem de erro caso ocorra -->
  <div *ngIf="errorMessage" class="error">
    {{ errorMessage }}
  </div>

  @if (cursos.length > 0){
    <mat-grid-list cols="3" rowHeight="1:1" gutterSize="10px" class="grid-list">
     @for (curso of cursos; track curso.id) {
      <mat-grid-tile>
        <mat-card class="card" appearance="outlined">
          <mat-card-header class="card-header">
            <div mat-card-avatar class="header-image"></div>
            <mat-card-title>{{ curso.nome }}</mat-card-title>

            <button mat-icon-button class="edit-button"
            matTooltip="Editar nome do curso."
            matTooltipPosition="above"
            matTooltipHideDelay="1000"
            (click)="utualizarCursoDialog(curso)">
              <mat-icon>edit</mat-icon>
            </button>
          </mat-card-header>

          <img class="card-image"
            mat-card-image
            ngSrc="/imagens/curso-header.png"
            alt="Logo do curso {{curso.nome}}" width="398" height="318" priority
          />
          <mat-card-actions>
            @if(!curso.ativo){
              <mat-chip style="margin-right: 70px; background-color: rgb(50, 30, 30);">Não publicado</mat-chip>
            } @else {
              <mat-chip style="margin-right: 70px;background-color: rgb(34, 61, 34)">Publicado</mat-chip>
            }
            <button [routerLink]="['/atividades', curso.id]" mat-icon-button
            matTooltip="Gerenciar as atividades do curso."
            matTooltipPosition="above"
            matTooltipHideDelay="1000">
              <mat-icon>hub</mat-icon>

            </button>
            <button mat-icon-button
            matTooltip="Permissão de usuários para gerenciar o curso."
            matTooltipPosition="above"
            matTooltipHideDelay="1000"
            [routerLink]="['/permissao-usuario', curso.id]">
              <mat-icon>manage_accounts</mat-icon>
            </button>

            @if(curso.ativo){
              <button mat-icon-button
                matTooltipPosition="above"
                matTooltip="Despublicar o curso."
                matTooltipHideDelay="1000"
                (click)="alterarStatusCurso(curso)">
                <mat-icon>visibility_off</mat-icon>
              </button>
            } @else {
              <button mat-icon-button
                matTooltipPosition="above"
                matTooltip="Publicar o curso."
                matTooltipHideDelay="1000"
                (click)="alterarStatusCurso(curso)">
                <mat-icon>visibility</mat-icon>
              </button>
            }

            <button mat-icon-button
            matTooltip="Excluir curso."
            matTooltipPosition="above"
            matTooltipHideDelay="1000"
            (click)="deleteCurso(curso)">
              <mat-icon>delete</mat-icon>
            </button>
          </mat-card-actions>
        </mat-card>
      </mat-grid-tile>
      }
    </mat-grid-list>

  } @else {
    <p>Você não possui cursos cadastrados.</p>
  }
</div>
